<footer class="footer pt-0 pb-3">
  <hr class="mb-3" />
  <div class="container">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="copyright text-center  text-lg-left  text-muted">
        <a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/3fZztPWnDw5hocUu"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/01_1_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/01_1.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <a href="https://ashmw.com/info/?site=sveone" target="_blank" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="https://ashmw.com/contact/" target="_blank" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/terms" class="nav-link">Terms</a>
        </li>
        <li class="nav-item">
          <a href="/privacy" class="nav-link">Privacy</a>
        </li>
        <li class="nav-item">
          <a href="/tos" class="nav-link">TOS</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
<style>
  .sidenav .nav-item .nav-link {
    margin-left:1px !important;
    padding:10.8px 16px !important;
    border-left:4px solid transparent;
    transition:0.2s;
  }
  .sidenav .nav-item .nav-link:hover {
    border-left:4px solid #9E6B9FAA;
    border-radius:0 !important;
    background:none !important;
  }
  .sidenav .nav-link.active {
    border-left:4px solid #9E6B9F;
    border-radius:0 !important;
    background:none !important;
  }
</style>
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button class="btn btn-primary btn-sm acceptcookies">
        I accept
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<!-- <script>console.error('\n __  \n|  | \n|  | \n|  | \n|__| \n __  \n|__| \n\nUsing this console may allow attackers to impersonate you and steal your information using an attack called Self-XSS. Do not enter or paste code that you do not understand!\nhttps://wikipedia.org/wiki/Self-XSS\n\n')</script> -->
<script>
console.log("%c%s", "color: white; padding:0 20px; background: red; font-size: 50px; border-radius:5px; text-align:center;", "WARNING")
console.log("%c%s", "font-size: 20px; text-align:center;", "Using this console may allow attackers to impersonate you and steal your information using an attack called Self-XSS.\nDo not enter or paste code that you do not understand.\n\n\n")
</script>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/assets/js/argon.js?v=1.2.0"></script>
<script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
