<!doctype html>
<!--|==============================================================================================|-->
<!--| This is a example bootstrap page, you are welcome to work off of it or completely change it! |-->
<!--|==============================================================================================|-->
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content='About my page'>
    <title>My Page</title>

    <!-- Bootstrap core CSS -->
    <link href='https://ashmw.com/assets/bootstrap.css' rel='stylesheet'>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          body {
            padding-top: 3.5rem;
          }


          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
    </style>
</head>

<body>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
        <a class='navbar-brand' href='#'>My Page</a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

        <div class='collapse navbar-collapse' id='navbarsExampleDefault'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item active'>
                    <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role='main'>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class='jumbotron'>
            <div class='container'>
                <h1 class='display-3'>Hello, world!</h1>
                <p>Hosted by SVE.ONE</p>
                <p><a class='btn btn-primary btn-lg' href='https://sve.one' role='button'>Learn more &raquo;</a></p>
            </div>
        </div>

        <div class='container'>
            <!-- Example row of columns -->
            <div class='row'>
                <div class='col-md-4'>
                    <h2>Heading</h2>
                    <p>Some cool text.</p>
                    <p><a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a></p>
                </div>
                <div class='col-md-4'>
                    <h2>Heading</h2>
                    <p>Some cool text.</p>
                    <p><a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a></p>
                </div>
                <div class='col-md-4'>
                    <h2>Heading</h2>
                    <p>Some cool text.</p>
                    <p><a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a></p>
                </div>
            </div>

            <hr>

        </div>
        <!-- /container -->

    </main>

    <footer class='container'>
        <p>&copy; Company 2017-2020</p>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js'></script>
</body>

</html>
