<footer class="py-5" >
  <div class="container">
    <hr class="mb-3">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          <a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/3fZztPWnDw5hocUu"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/01_1_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/01_1.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="https://ashmw.com/info/?site=sveone" target="_blank" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="https://ashmw.com/contact/" target="_blank" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="/privacy" class="nav-link">Privacy</a>
          </li>
          <li class="nav-item">
            <a href="/tos" class="nav-link">TOS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button class="btn btn-primary btn-sm acceptcookies">
        I accept
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="/assets/js/argon.js?v=1.2.0"></script>
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
